<ul class="caption-ul-list">
    <% @meme.captions.each do |caption| %>
      <!-- <h2><li class="caption-li-layout"><%= caption.caption_content %></li></h2> -->
      <%= erb :'memes/_caption_line', locals: { caption: caption} %>

      <% if logged_in? %>
        <form method="post" action='/memes/<%= @meme.id %>/captions/<%= caption.id %>/upvote' class="vote-form-upvote-caption">
          <button type="submit" name="submit_param" value="submit_value" ></button>
        </form>
      <% end %>

  <div class="vote_count"><%= caption.total_votes %> </div>

      <% if logged_in? %>
        <form method="post" action='/memes/<%= @meme.id %>/captions/<%= caption.id %>/downvote' class="vote-form-downvote-caption">
          <button type="submit" name="submit_param" value="submit_value" ></button>
        </form>
      <% end %>

        <ul class="caption-comment-ul-list">
          <% caption.comments.each do |comment| %>
            <!-- <li><%= comment.comment_content %></li> -->
            <%= erb :'memes/_caption_comment_line', locals: { comment: comment} %>
          <% end %>
        </ul>
          <% if logged_in? %>
            <form id="create_caption_comment" method="post" action="/memes/<%= @meme.id %>/caption/<%= caption.id %>">
              <input id="comment_text" type="text" name="comment_content" placeholder="add caption comment">
            <input type="submit" value="submit">
          </form>
          <% end %>
      <% end %>
  </ul>
