<ul class="caption-ul-list">
    <% @meme.captions.each do |caption| %>
      <h2><li class="caption-li-layout"><%= caption.caption_content %></li></h2>

        <form method="post" action='/memes/<%= @meme.id %>/captions/<%= caption.id %>/upvote'>
          <button type="submit" name="submit_param" value="submit_value" ></button>
        </form>

  <div class="vote_count"><%= caption.total_votes %> </div>

        <form method="post" action='/memes/<%= @meme.id %>/captions/<%= caption.id %>/downvote'>
          <button type="submit" name="submit_param" value="submit_value" ></button>
        </form>

        <ul class="comment-ul-list">
          <% caption.comments.each do |comment| %>
            <li><%= comment.comment_content %></li>
          <% end %>
          <% if logged_in? %>
            <form id="create_caption_comment" method="post" action="/memes/<%= @meme.id %>/caption/<%= caption.id %>">
              <input id="comment_text" type="text" name="comment_content" placeholder="add caption comment">
            <input type="submit" value="submit">
          </form>
          <% end %>
        </ul>
      <% end %>
  </ul>
