<ul class="caption-ul-list">
    <% @captions.each do |caption| %>
      <h2><li class="caption-li-layout"><%= caption.caption_content %></li></h2>

      <% if logged_in? && current_user.id == @meme.memer_id %>
        <form method="post" action="/memes/<%= @meme.id %>/captions/<%= caption.id %>/favorite">
          <% if caption.favorite == false %>
            <input type="submit" value="favorite">
          <% else %>
            Favorited
          <% end %>
        </form>
      <% end %>

      <% if logged_in? %>
        <form method="post" action='/memes/<%= @meme.id %>/captions/<%= caption.id %>/upvote' class="vote-form-upvote-caption">
          <button type="submit" name="submit_param" value="submit_value" ></button>
        </form>
      <% end %>

  <div class="vote_count"><%= caption.total_votes %> </div>

      <% if logged_in? %>
        <form method="post" action='/memes/<%= @meme.id %>/captions/<%= caption.id %>/downvote' class="vote-form-downvote-caption">
          <button type="submit" name="submit_param" value="submit_value" ></button>
        </form>
      <% end %>

        <ul class="comment-ul-list">
          <% caption.comments.each do |comment| %>
            <li><%= comment.comment_content %></li>
          <% end %>
          <% if logged_in? %>
            <form id="create_caption_comment" method="post" action="/memes/<%= @meme.id %>/caption/<%= caption.id %>">
              <input id="comment_text" type="text" name="comment_content" placeholder="add caption comment">
            <input type="submit" value="submit">
          </form>
          <% end %>
        </ul>
      <% end %>
  </ul>
