<!-- <img src="pulpitrock.jpg" alt="Mountain View" width="500" height="377">
 -->


<div id="container">

 <center><image class="show-meme" src="/<%= @meme.photo %>" width="50%" >

    <% if logged_in? %>
       <form method="post" action='/memes/<%= @meme.id %>/upvote'  class="vote-form-upvote-meme">
          <button type="submit" name="submit_param" value="submit_value" class="upvote-button"></button>
        </form>
    <% end %>

  <div class="vote_count"><%= @meme.total_votes %> </div>

    <% if logged_in? %>
      <form method="post" action='/memes/<%= @meme.id %>/downvote' class="vote-form-downvote-meme" >
        <button type="submit" name="submit_param" value="submit_value" class="downvote-button" ></button>
      </form>
    <% end %>

  <div class="meme-comments-display">
    <%= erb :'memes/_meme_comments', locals: { meme: @meme } %>
  </div>

  <div class="captions-display">
    <%= erb :'memes/_captions_comments', locals: { meme: @meme } %>
  </div>


  <% if logged_in? %>
   <p class="add-caption-line"><em>Add a new meme caption below!</em></p>
   <form id="create_caption" method="post" action="/memes/<%= @meme.id %>/captions" class="meme-caption-form">
      <input id="caption_text" type="text" name="caption_content" placeholder="add new meme caption">
      <input type="submit" value="submit" class="submit-button">
    </form>
    <%# erb :'memes/_add_caption', locals: { meme: @meme } %>
  <% end %>
</center>


</div>
