<!-- <img src="pulpitrock.jpg" alt="Mountain View" width="500" height="377">
 -->


<div id="container">

 <center><image src="/<%= @meme.photo %>" width="500" height="500" >



       <form method="post" action='/memes/<%= @meme.id %>/upvote'  >
          <button type="submit" name="submit_param" value="submit_value" ></button>
        </form>

  <div class="vote_count"><%= @meme.total_votes %> </div>

        <form method="post" action='/memes/<%= @meme.id %>/downvote'  >
          <button type="submit" name="submit_param" value="submit_value" ></button>
        </form>


  <ul>
    <% @meme.comments.each do |comment| %>
      <li><%= comment.comment_content %></li>
    <% end %>
      <form id="create_meme_comment" method="post" action="/memes/<%= @meme.id %>/comment">
        <input id="comment_text" type="text" name="comment_content" placeholder="add meme comment">
        <input type="submit" value="submit">
      </form>
  </ul>

 <div class="captions-display">
  <ul>
    <% @meme.captions.each do |caption| %>
      <h2><li><%= caption.caption_content %></li></h2>



        <form method="post" action='/memes/<%= @meme.id %>/captions/<%= caption.id %>/upvote'>
          <button type="submit" name="submit_param" value="submit_value" ></button>
        </form>

  <div class="vote_count"><%= caption.total_votes %> </div>

        <form method="post" action='/memes/<%= @meme.id %>/captions/<%= caption.id %>/downvote'>
          <button type="submit" name="submit_param" value="submit_value" ></button>
        </form>




        <ul>
          <% caption.comments.each do |comment| %>
            <li><%= comment.comment_content %></li>
          <% end %>
          <form id="create_caption_comment" method="post" action="/memes/<%= @meme.id %>/caption/<%= caption.id %>">
            <input id="comment_text" type="text" name="comment_content" placeholder="add caption comment">
            <input type="submit" value="submit">
          </form>
        </ul>
      <% end %>
  </ul>

  <form id="create_caption" method="post" action="/memes/<%= @meme.id %>/captions">
    <input id="caption_text" type="text" name="caption_content" placeholder="add meme caption">
    <input type="submit" value="submit">
  </form>

    </center>
 </div>


</div>
